@import "tailwindcss";

body {
  background-color: #f2f5f8;
}
.container-custom {
  width: 100%;
  padding: 0 2rem;
}

.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
