@import "tailwindcss";

html {
  transition: background-color 0.3s, color 0.3s;
}
body {
  background-color: #f2f5f8;
}

.container-custom {
  width: 100%;
  padding: 0 2rem;
}

.page__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.m-0auto {
  margin: 0 auto;
}
/* hide-scrollbar.css */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
